/*
Color 1 : #B34D46
Color 2 : #28425C
Color 3 : #CCA585
*/
body {
  margin: 0;
}
h1 {
  width: 100%;
  font-size: 24pt;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
section {
  padding-top: 1rem;
}
#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  background-color: #B34D46;
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
}
.nav-list {
  display: flex;
  margin-right: 2em;
  list-style: none;
}
.nav-list a {
  padding: 1rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: #28425C;
  box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.2);
}
#welcome-section h1 {
  font-size: 60pt;
  color: white;
}
#welcome-section p {
  color: white;
}
.project-tiles {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.project-tile {
  width: 30%;
  margin: 1em;
}
.project-tile img {
  width: 100%;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}
.project-tile p {
  margin: 0;
  font-size: 14pt;
  padding: 2rem 0.5rem;
  text-decoration: none;
  color: #85542D;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #CCA585;
}
#contact h1 {
  color: white;
}
#profile-link {
  padding: 5em 0;
}
@media only screen and (orientation: portrait) {
  .project-tiles {
    width: 80%;
    flex-direction: column;
  }
  .project-tile {
    width: 100%;
  }
}
