@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1 {
  font-size: 18pt;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
}

p, li {
  font-family: 'Lato', sans-serif;
}

header {
  width: 60%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header img {
  margin: auto;
}

#profil-picture {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#welcome-message {
  font-size: 24pt;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  animation-name: appear;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

#contact-info {
  text-align: center;
  margin: auto;
  animation-name: appear;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  100% {
    opacity: 1;
  }
}

.two-column {
  width: 60%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

section h1 {
  padding-bottom: 10px;
  border-bottom: 2px dotted;
}

.column {
  width: 45%;
  margin: 0 2.5%;
}

#column-1 {
  text-align: right;
  height: fit-content;
  margin: auto 2.5%;
}

#column-2 li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

#column-2 b {
  margin-right: 10px;
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 20pt;
  }

  p, li {
    font-size: 18pt;
  }

  header li {
    font-size: 36pt;
  }

  header {
    width: 90vw;
  }

  #profil-picture {
    width: 60vw;
    height: 60vw;
    border-radius: 60vw;
  }

  .two-column {
    flex-direction: column;
    width: 90vw;
  }

  #welcome-message {
    text-align: center;
    font-size: 42pt;
  }

  #column-1, #column-2 {
    width: 100%;
    text-align: left;
    height: fit-content;
    margin: 0;
  }

  #column-2 li {
    display: block;
  }
}