h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
img {
  width: 100%;
  vertical-align: center;
  border-radius: 100px;
  box-shadow: 1px 1px 12px #555;
}
